@charset "UTF-8";

.CMYETC004{
    .contents-title-100{
        word-break:keep-all;
    }
    .btn-area{
        padding-bottom:0;
        button{
            line-height:4.8rem;
            span{
                font-size:1.6rem;
            }
        }
    }
    .step-info{
        margin-top:3.2rem;
    }
    .inp-list-wrap{
        margin-top:3.2rem;
    }
}