@charset "UTF-8";

.CMYMCP112{
    .modal-body {
        padding-bottom:1.6rem;
    }
    .body-120 {
        ~ .body-120 { 
            padding-top:1.6rem;
        }
    }
    .agree-ex-area {
        position:relative;
        min-height:59.7vh;
        margin-top:1.6rem;

        .txt-ex {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            left:0;
            width:100%;
            font-weight:700;
            font-size:2rem;
            text-align:center;
            line-height:3rem;
            letter-spacing:-0.05rem;
            color:#222;
        }        
    }
    .bc-dddddd {
        background-color:rgba(221,221,221,0.3);
    }
}