@charset "UTF-8";

.CMYMCP321{ 
    .total-list-wrap { 
        padding-top:3.2rem;
    }
    .confirm-list{
        margin-top:3.2rem;
        dt{
            @include contents-title-300;
            & + dd{
                margin-top:1.6rem;
            }
        }
        dd{
            margin-top:0.8rem;
            @include body-120;
            & + dt{
                margin-top:3.2rem;
            }
            & + dd { 
                margin-top:1.6rem;
            }
            &.confirm-list-txt { position:relative; padding-left:1.2rem;
                .bullet {
                    display:inline-block; position:absolute; top:50%; transform:translateY(-50%); left:0;
                    width:0.4rem; height:0.4rem; background-color:#888888; border-radius:50%; vertical-align:middle;
                }
            }
        }
    }
    .bullet-list { 
        li { 
            line-height: 2.4rem;
            color: #666;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.04rem;
            position: relative;
            margin-top: 1.6rem;
            padding-left: 1.2rem;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 1rem;
                left: 0;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background: #888;
            }

            &:first-child { 
                margin-top: 0;
            }
        }
    }
}