@charset "UTF-8";

.CMYMCP322{ 
    .tac{
        margin-top:2.4rem;
    }
    .form-checkbox{
        .txt{
            margin-left:0.4rem;
        }
    }
    .bullet-list { padding-top:2.4rem; 
        li {
            .point-txt { display:block; font-weight:400; font-size:1.6rem; line-height:2.4rem; letter-spacing:-0.04rem; color:#2589ff; }
        }
    }
}