@charset "UTF-8";

.CMYMCP187 {
    .modal-body { overflow-y:hidden; 
        .agreement-area {
            .agreement-iframe { width:100%; height:90vh; padding-bottom:17.6rem; }        
        }
    }    
}