@charset "UTF-8";

.CMYMCP381{
    .accordion-list-wrap { padding-top:3.2rem; }
    .result-box {
        position:fixed;
        top:50%;
        left:0;
        width:100%;
        transform:translateY(-50%);
    }
}