<div class="modal-wrap step1" data-type="toast" data-uicomponent="modal">
    <!--
        2021-09-07 약관동의 토스트 다중팝업 샘플
    -->    
    
    <!-- 두번째 팝업이 나와야 할경우. step1 클래스를 .step2클래스로 변경 //-->
    <!-- 그리고 두번째 팝업 (.modal) 에 active 클래스를 줘야됨 //-->
    <!-- 스크립트 예시를 보여주기 위해 data-idx 사용 -->

    <!-- depth1 -->
    <div class="modal modal-dep1 active" data-idx="modal1">
        <div class="modal-header">
            <h3>depth 1</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep2-1">depth 2-1</button>
            <button type="button" class="btn-select" data-idx="dep2-2">depth 2-2</button>
            <button type="button" class="btn-select" data-idx="dep2-3">depth 2-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>
    <!-- // depth1 -->


    <!-- depth2 -->
    <div class="modal modal-dep2" data-idx="modal2-1">
        <div class="modal-header">
            <h3>depth 2-1</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep1">depth 1</button>
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep2" data-idx="modal2-2">
        <div class="modal-header">
            <h3>depth 2-2</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep1">depth 1</button>
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep2" data-idx="modal2-3">
        <div class="modal-header">
            <h3>depth 2-3</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep1">depth 1</button>
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>
    <!-- // depth2 -->

    <!-- depth3 -->
    <div class="modal modal-dep3" data-idx="modal3-1">
        <div class="modal-header">
            <h3>depth 3-1</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep2-1">depth 2-1</button>
            <button type="button" class="btn-select" data-idx="dep2-2">depth 2-2</button>
            <button type="button" class="btn-select" data-idx="dep2-3">depth 2-3</button>
            <button type="button" class="btn-select" data-idx="dep4-1">depth 4-1</button>
            <button type="button" class="btn-select" data-idx="dep4-2">depth 4-2</button>
            <button type="button" class="btn-select" data-idx="dep4-3">depth 4-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep3" data-idx="modal3-2">
        <div class="modal-header">
            <h3>depth 3-2</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep2-1">depth 2-1</button>
            <button type="button" class="btn-select" data-idx="dep2-2">depth 2-2</button>
            <button type="button" class="btn-select" data-idx="dep2-3">depth 2-3</button>
            <button type="button" class="btn-select" data-idx="dep4-1">depth 4-1</button>
            <button type="button" class="btn-select" data-idx="dep4-2">depth 4-2</button>
            <button type="button" class="btn-select" data-idx="dep4-3">depth 4-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep3" data-idx="modal3-3">
        <div class="modal-header">
            <h3>depth 3-3</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep2-1">depth 2-1</button>
            <button type="button" class="btn-select" data-idx="dep2-2">depth 2-2</button>
            <button type="button" class="btn-select" data-idx="dep2-3">depth 2-3</button>
            <button type="button" class="btn-select" data-idx="dep4-1">depth 4-1</button>
            <button type="button" class="btn-select" data-idx="dep4-2">depth 4-2</button>
            <button type="button" class="btn-select" data-idx="dep4-3">depth 4-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>
    <!-- // depth3 -->

    <!-- depth4 -->
    <div class="modal modal-dep4" data-idx="modal4-1">
        <div class="modal-header">
            <h3>depth 4-1</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep4" data-idx="modal4-2">
        <div class="modal-header">
            <h3>depth 4-2</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>

    <div class="modal modal-dep4" data-idx="modal4-3">
        <div class="modal-header">            
            <h3>depth 4-3</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn-select" data-idx="dep3-1">depth 3-1</button>
            <button type="button" class="btn-select" data-idx="dep3-2">depth 3-2</button>
            <button type="button" class="btn-select" data-idx="dep3-3">depth 3-3</button>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>조회</span></button>
            </div>
        </div>
    </div>
    <!-- // depth4 -->

    <!-- 스크립트 예시임 -->
    <script>
        
        // depth1
        $('[data-idx="dep1"]').on("click",function(){
            step1();
            $('[data-idx="modal1"]').addClass("active");            
        });


        // depth2
        $('[data-idx="dep2-1"]').on("click",function(){
            step2();
            depth2();
            $('[data-idx="modal2-1"]').addClass("active");
        });

        $('[data-idx="dep2-2"]').on("click",function(){
            step2();
            depth2();
            $('[data-idx="modal2-2"]').addClass("active");
        });

        $('[data-idx="dep2-3"]').on("click",function(){
            step2();
            depth2();
            $('[data-idx="modal2-3"]').addClass("active");
        });


        // depth3
        $('[data-idx="dep3-1"]').on("click",function(){
            step3();
            depth3();
            $('[data-idx="modal3-1"]').addClass("active");
        });

        $('[data-idx="dep3-2"]').on("click",function(){
            step3();
            depth3();
            $('[data-idx="modal3-2"]').addClass("active");
        });

        $('[data-idx="dep3-3"]').on("click",function(){
            step3();
            depth3();
            $('[data-idx="modal3-3"]').addClass("active");
        });


        // depth4
        $('[data-idx="dep4-1"]').on("click",function(){
            step4();
            depth4();
            $('[data-idx="modal4-1"]').addClass("active");
        });

        $('[data-idx="dep4-2"]').on("click",function(){
            step4();
            depth4();
            $('[data-idx="modal4-2"]').addClass("active");
        });

        $('[data-idx="dep4-3"]').on("click",function(){
            step4();
            depth4();
            $('[data-idx="modal4-3"]').addClass("active");
        });


        $('.btn-scroll-choice').on("click", function(){
            $(this).parent('li').siblings('li')
                .find('.btn-scroll-choice')
                .removeClass('active');

            $(this).addClass('active');
        });

        function step1() {
            $(".modal-wrap").addClass("step1");
            $(".modal-wrap").removeClass("step2");
            $(".modal-wrap").removeClass("step3");
            $(".modal-wrap").removeClass("step4");
        }

        function step2() {
            $(".modal-wrap").removeClass("step1");
            $(".modal-wrap").addClass("step2");
            $(".modal-wrap").removeClass("step3");
            $(".modal-wrap").removeClass("step4");
        }

        function step3() {
            $(".modal-wrap").removeClass("step1");
            $(".modal-wrap").removeClass("step2");
            $(".modal-wrap").addClass("step3");
            $(".modal-wrap").removeClass("step4");
        }

        function step4() {
            $(".modal-wrap").removeClass("step1");
            $(".modal-wrap").removeClass("step2");
            $(".modal-wrap").removeClass("step3");
            $(".modal-wrap").addClass("step4");
        }

        function depth2() {
            $('.modal-wrap .modal-dep2').removeClass("active");
        }
        function depth3() {
            $('.modal-wrap .modal-dep3').removeClass("active");
        }
        function depth4() {
            $('.modal-wrap .modal-dep4').removeClass("active");
        }

    </script>
</div>