<div class="modal-wrap CMYMCP181" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 수집·이용 동의</h3><!-- 2021-10-01 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p class="body-120">KB차차차는 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보 보호법」 등 관련 법령에 따라 다음과 같이 귀하의 개인(신용)정보를 처리합니다.</p>
            <dl class="item-list">
                <dt>수집·이용 목적</dt>
                <!-- 2021-11-17 문구수정 -->
                <dd>전송요구를 통한 본인신용정보 통합조회, 데이터분석 서비스의 이용</dd>
                <!-- // 2021-11-17 문구수정 -->

                <dt>보유 및 이용기간</dt>
                <dd class="txt-blue">서비스 이용 종료 시 또는 삭제 요구 시까지</dd>

                <dt>거부 권리 및 불이익</dt>
                <!-- 2021-11-17 문구수정 -->
                <dd>귀하는 개인(신용)정보 수집･이용에 관한 동의를 거부하실 수 있습니다. 다만, “필수 항목에 대한 수집･이용에 관한 동의”는 본인신용정보 통합조회, 데이터분석 서비스의 이용을 위한 필수적 사항이므로 동의를 거부하실 경우 본인신용정보 통합조회, 데이터분석 서비스의 이용이 제한될 수 있으며, “선택 항목에 대한 수집･이용에 관한 동의”는 거부하실 경우 해당 선택 항목에 대한 본인신용정보 통합조회, 데이터분석 서비스의 이용이 제한될 수 있습니다.</dd>
                <!-- // 2021-11-17 문구수정 -->
                
                <dt>수집·이용 항목</dt>
                <dd>
                    <!-- 2021-09-30 항목 수정 -->
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:10.5rem">
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">개인(신용)정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-mypage-on"></i>
                                            개인(식별)정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>접근토큰</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-assets-on"></i>
                                            신용거래정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>아래 항목 중 정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                                    </td>
                                </tr>
                                <!-- 2021-10-06 테이블 내 볼드 강조처리 -->
                                <tr>
                                    <td scope="row" class="bold">은행</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>수신계좌 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(저축방법, 계좌개설일자, 만기일, 통화코드, 약정액, 월 납입액), <strong class="bold">계좌잔액정보</strong>(통화코드, 현재잔액, 출금 가능액, 적용금리, 최종납입회차), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래유형(코드), 거래구분, 통화코드, 거래금액, 적요, 거래 후 잔액, 납입회차)</p>
                                        <ul class="bullet-list sm">
                                            <li>투자상품 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(표준펀드코드, 납입유형(코드), 개설일, 만기일) <strong class="bold">계좌 잔액정보</strong>(통화코드, 잔액, 평가금액, 투자원금, 보유좌수), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래유형, 통화코드, 기준가, 거래좌수, 거래금액, 거래 후 잔고 평가금액</p>
                                        <ul class="bullet-list sm">
                                            <li>대출상품 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(대출일, 만기일, 최종적용금리, 월상환일, 상환방식(코드), 자동이체 기관(코드), 상환계좌번호(자동이체)), <strong class="bold">계좌잔액정보</strong>(통화코드, 대출잔액, 대출원금, 다음 이자 상환일), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래유형, 통화코드, 거래금액, 거래 후 대출잔액, 거래금액 중 원금, 거래금액 중 이자, 환출이자, 이자적용시작일, 이자적용종료일, 적용이율, 이자금액, 이자종류(코드))</p>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(계좌잔액, 계좌평가금액, 사용자부담금, 가입자부담금, 개설일, 최초입금일, 최초제도가입일, 연금개시 시작(예정)일), <strong class="bold">계좌개별운용상품정보</strong>(개별운용상품명, 상품가입번호, 상품유형(코드), 평가금액, 납입(투자)원금, 보유좌수, 신규일, 만기일, 약정이자율), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래구분(코드), 거래금액)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">카드</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>카드정보</li>
                                        </ul>
                                        <p><strong class="bold">카드기본정보</strong>(교통 기능(여부), 현금카드기능(여부), 결제은행(코드), 카드브랜드(코드), 상품 연회비, 발급일자), <strong class="bold">국내승인내역</strong>(승인번호, 결제상태, 사용구분(신용/체크), 승인일시, 정정 또는 승인취소 일시, 가맹점명, 가맹점 사업자등록번호, 이용금액, 정정후 금액, 전체 할부회차), <strong class="bold">해외승인내역</strong>(승인번호, 결제상태, 사용구분(신용/체크), 승인일시, 정정 또는 승인취소 일시, 가맹점명, 결제(승인)국가코드, 결제(승인) 시 통화코드, 원화)</p>
                                        <ul class="bullet-list sm">
                                            <li>포인트 정보</li>
                                        </ul>
                                        <p><strong class="bold">포인트정보</strong>(포인트명, 잔여포인트, M+2월 소멸예정 포인트)</p>
                                        <ul class="bullet-list sm">
                                            <li>청구, 결제 정보 및 리볼빙 정보</li>
                                        </ul>
                                        <p><strong class="bold">청구기본정보</strong>(결제순번, 월별 청구금액, 결제일, 청구년월, 결제년월일), <strong class="bold">청구상세정보</strong>(카드 식별자, 사용일시 또는 사용일자, 거래번호, 이용금액, 통화코드, 가맹점명, 신용판매 수수료, 전체 할부회차, 현재 할부회차, 할부 결제 후 잔액, 상품구분(코드), 가맹점 사업자 등록번호), <strong class="bold">결제정보</strong>(리볼빙 약정 여부, 결제순번, 결제예정일, 결제예정금액), <strong class="bold">리볼빙정보</strong>(신청일, 최소결제비율, 최소결제금액, 약정결제비율, 약정결제금액, 리볼빙 이월 잔액)</p>
                                        <ul class="bullet-list sm">
                                            <li>대출상품 정보</li>
                                        </ul>
                                        <p><strong class="bold">대출상품목록정보</strong>(단기대출(여부), 장기대출(여부), <strong class="bold">단기대출정보</strong>(이용일시, 이용금액(취급액), 단기대출잔액, 결제예정일, 이자율), <strong class="bold">장기대출정보</strong>(대출일시 또는 대출일자, 일자의 대출회차, 대출종류, 상품명, 이용금액, 이자율, 만기일, 장기대출 잔액, 상환방법(코드), 상환액 중 이자)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">금융투자</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계좌 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(기준일자, 통화코드, 예수금, 신용 융자, 대출금), <strong class="bold">계좌거래내역</strong>(통화코드, 거래일시 또는 거래일자, 거래번호, 거래종류(코드), 거래종류 상세, 거래금액, 정산금액, 거래후잔액, 종목명(상품명), 종목(코드), 해외주식 거래소(코드), 거래수량, 거래단가), <strong class="bold">계좌상품정보</strong>(기준일자, 상품종류(코드), 상품종류 상세, 종목(코드), 해외주식 거래소(코드), 종목명, 파생상품포지션구분(코드), 신용구분(코드), 세제혜택 적용여부(상품), 통화코드, 매입금액, 보유수량, 평가금액), <strong class="bold">연금계좌추가정보</strong>(연금가입일, 납부총액, 기출금액, 최종납입일, 연금기수령액)</p>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(계좌잔액, 계좌평가금액, 사용자부담금, 가입자부담금, 개설일, 최초입금일, 최초제도가입일, 연금개시 시작(예정)일), <strong class="bold">계좌개별운용상품정보</strong>(개별운용상품명, 상품가입번호, 상품유형(코드), 평가금액, 납입(투자)원금, 보유좌수, 신규일, 만기일, 약정이자율), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래구분(코드), 거래금액)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">보험</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>보험 정보</li>
                                        </ul>
                                        <p><strong class="bold">보험계약정보</strong>(갱신여부(여부), 계약체결일, 만기일자, 보험가입금액, 통화코드, 변액보험 여부, 유니버셜 여부, 연금개시일, 연금수령 주기, 대출실행 가능 상품 여부, 피보험자수, 피보험자명, 주피보험자 여부), <strong class="bold">보험특약정보</strong>(특약명, 특약의 상태(코드), 특약만기일자, 특약가입금액, 통화코드, 특약의 유형), <strong class="bold">보험보장정보</strong>(계약관계자구분(코드), 피보험자계약자관계(코드), 담보(코드), 담보특성(코드), 회사담보일련번호, 회사담보명, 담보상태(코드), 담보금액, 담보기간시작일자, 담보기간종료일자), <strong class="bold">보험료납입기본정보</strong>(납입기간구분(코드), 납입주기(코드), 총 납입 횟수, 납입기관(코드), 납입일자, 납입종료일자, 납입 보험료, 통화코드, 자동대출납입신청 여부(여부)), <strong class="bold">보험료납입내역</strong>(납입일자, 납입연월, 납입회차, 실납입 보험료, 통화코드, 수금방법(코드)), <strong class="bold">자동차보험정보</strong>(차량번호, 자동차보험 구분(코드), 계약자 차량명, 보험시기, 보험종기, 연령특약, 운전자한정 특약, 자기차량손해, 자기부담금 구분(코드), 자기부담금 금액), <strong class="bold">자동차보험납입내역</strong>(거래일시 또는 거래일자, 거래번호, 자동차보험 보험료, 납입회차, 실납입 보험료, 수금방법(코드))</p>
                                        <ul class="bullet-list sm">
                                            <li>대출상품 정보</li>
                                        </ul>
                                        <p><strong class="bold">보험대출상품기본정보</strong>(대출일, 만기일, 상환방식(코드), 증권번호), <strong class="bold">보험대출상품잔액정보</strong>(통화코드, 대출잔액, 대출원금, 다음 이자 상환일), <strong class="bold">보험대출상품상환내역</strong>(거래번호, 거래일시 또는 거래일자, 통화코드, 대출원금상환액, 이자납입액, 이자적용시작일, 이자적용종료일, 적용이율, 이자종류(코드))</p>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                        <p><strong class="bold">계좌기본정보</strong>(계좌잔액, 계좌평가금액, 사용자부담금, 가입자부담금, 개설일, 최초입금일, 최초제도가입일, 연금개시 시작(예정)일), <strong class="bold">계좌개별운용상품정보</strong>(개별운용상품명, 상품가입번호, 상품유형(코드), 평가금액, 납입(투자)원금, 보유좌수, 신규일, 만기일, 약정이자율), <strong class="bold">계좌거래내역정보</strong>(거래일시 또는 거래일자, 거래번호, 거래구분(코드), 거래금액)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">전자금융</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>선불전자지급수단 정보</li>
                                        </ul>
                                        <p><strong class="bold">선불지급수단잔액정보</strong>(총잔액, 충전포인트 잔액, 적립포인트 잔액, 적립예정, 소멸예정), <strong class="bold">선불지급수단자동충전정보</strong>(충전지불수단기관(코드), 충전지불수단 식별키, 충전조건(코드), 기준날짜, 기준금액, 충전금액), <strong class="bold">선불거래내역정보</strong>(거래유형(코드), 거래일시 또는 거래일자, 거래번호, 거래금액, 거래 후 잔액, 거래상대 기관(코드), 거래상대 식별키, 거래메모, 가맹점명, 상품(구매)제목, 상품(구매)분류(코드), 결제방법(코드))</p>
                                        <ul class="bullet-list sm">
                                            <li>결제 정보</li>
                                        </ul>
                                        <p><strong class="bold">결제수단등록정보</strong>(결제수단 기관(코드), 결제수단 식별키, Primary여부), <strong class="bold">결제내역정보</strong>(결제유형, 주문번호, 결제일시 또는 결제취소일시, 결제번호, 통화코드, 결제금액, 결제수단 기관(코드), 결제수단 식별키, 할부개월, 거래메모, 가맹점명, 상품(구매)제목, 상품(구매)분류(코드), 결제방법(코드), 가맹점 사업자등록번호)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">할부금융</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>대출상품 또는 운용리스 정보</li>
                                        </ul>
                                        <p><strong class="bold">대출상품기본정보</strong>(대출일, 만기일, 최종적용금리, 월상환일, 상환방식(코드), 자동이체 기관(코드), 상환계좌번호(자동이체)), <strong class="bold">대출상품잔액정보</strong>(통화코드, 대출잔액, 대출원금, 다음 이자 상환일), <strong class="bold">대출상품거래내역정보</strong>(거래일시, 거래번호, 거래유형, 통화코드, 거래금액, 거래 후 대출잔액, 거래금액 중 원금, 거래금액 중 이자, 환출이자, 이자적용시작일, 이자적용종료일, 적용이율, 이자 금액, 이자종류(코드)), <strong class="bold">운용리스기본정보</strong>(대출일, 만기일, 월상환일, 상환방식(코드), 자동이체 기관(코드), 상환계좌번호(자동이체), 다음 납입예정일), <strong class="bold">운용리스거래내역</strong>(거래일시, 거래번호, 거래유형, 거래금액)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">보증보험</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>보증보험 정보</li>
                                        </ul>
                                        <p><strong class="bold">보증보험기본정보</strong>(계약체결일, 종료일자, 보험가입금액, 피보험자수, 피보험자명, 납입기간구분(코드), 총 납입 보험료), <strong class="bold">보증보험거래내역정보</strong>(납입일자, 납입회차, 실납입 보험료, 수금방법(코드))</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">통신</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>통신 정보</li>
                                        </ul>
                                        <p><strong class="bold">통신청구정보</strong>(청구금액, 납부예정일자), <strong class="bold">통신거래내역정보</strong>(납부연월, 납부금액, 납부수단), <strong class="bold">통신결제내역정보</strong>(이용일시, 결제금액, 가맹점명, 결제상품명)</p>
                                    </td>
                                </tr>
                                <!-- // 2021-10-06 테이블 내 볼드 강조처리 -->
                            </tbody>
                        </table>
                    </div>
                    <!-- // 2021-09-30 항목 수정 -->
                    <div class="check-area">
                        <p class="tit">위 <strong>개인(신용)정보 수집·이용</strong>에 동의하십니까?</p><!-- 2021-09-30 태그 위치 수정 -->
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>