<div class="modal-wrap CMYMCP110" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>TOP50 기관 한번에 연결</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p class="body-120">일반적으로 많이 이용하는 50개의 기관이 자동으로 추가됩니다.</p>
            <p class="body-120">기관의 목록은 직접 변경이 가능하며 언제든지 개별로 연결이 가능합니다.</p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>