<div class="modal-wrap CMYMCP006" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>나의 순자산</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="assets-top">
                <span class="tit">순자산</span>
                <span class="price">210,000,000원</span>
            </div>
            <div class="assets-list-wrap">
                <ul class="assets-list">
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">내차고</span>
                            </label>
                        </span>
                        <span class="price">+300,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">계좌</span> <!-- 2021-10-25 예금 -> 계좌 문구수정 -->
                            </label>
                        </span>
                        <span class="price">+120,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">투자</span>
                            </label>
                        </span>
                        <span class="price">+130,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">퇴직연금(IRP)</span> <!-- 2021-10-25 IRP(퇴직연금) -> 퇴직연금(IRP) 문구수정 -->
                            </label>
                        </span>
                        <span class="price">+100,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">전자금융</span>
                            </label>
                        </span>
                        <span class="price">+2,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">카드</span>
                            </label>
                        </span>
                        <span class="price">-2,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox"><!-- 2021-10-12 disabled 삭제 - 활성화 -->
                                <i class="icon"></i>
                                <span class="txt">대출</span> <!-- 2021-10-25 대출·리스 -> 대출 문구수정 -->
                            </label>
                        </span>
                        <span class="price">-</span><!-- 2021-10-07 텍스트 수정 -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>