<div class="modal-wrap CMYMCP367" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 수집·이용 동의서(내차구매/차테크)상세동의서</h3><!-- 2021-11-25 헤더 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <select name="" id="" class="inline-select">
                <option value="">2021.04.02</option>
                <option value="">2021.04.01</option>
            </select>
            <div class="confirm-area bcf4f4f4 b1sdddddd"><!-- 2021-10-19 배경색 제거시 bcf4f4f4 클래스 제거, 라인 제거시 b1sdddddd 클래스 제거 -->
                <span class="confirm-txt">
                    {상세 동의서 본문}<br />
                    영역
                </span>
            </div>
        </div>
        <!-- 삭제
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
        -->
    </div>
</div>