<div class="modal-wrap CMYMCP113" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>상품 서비스 안내수단 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">            
            <p class="body-120">안내수단 미선택시 전자적 전송매체를 통하여 상품 및 서비스에 관한 광고성 정보를 안내받으실 수 없습니다.</p>
            <p class="body-120">안내 받으실 전송매체를 1개 이상 선택해 주세요.</p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>