<div class="modal-wrap CMYMCP101" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인신용정보수집,이용,제공 동의서(KB마이데이터통합분석)</h3><!-- 2021-12-07 타이틀 수정 : 퍼블파일에서 [선택] 또는 [필수] 삭제 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="terms-area">
                <div class="terms-wrap first">
                    <div class="terms-top-area">
                        <span class="con-txt2">
                            본 동의서는 요약동의서 입니다. 상세동의서를 확인하시려면 아래 상세동의서 보기를 클릭해 주시기 바랍니다.
                        </span>
                    </div>
                    <div class="terms-btn-txt-area">
                        <a href="javascript:;" class="btn-txt">상세동의서</a>
                    </div>
                </div>
            </div>
            <div class="terms-area">
                <div class="terms-wrap">
                    <dl class="item-list">                        
                        <dt>수집ㆍ이용에 관한 사항</dt><!-- 2021-12-03 문구수정 -->
                        <dd>
                            <div class="state-area">
                                <div class="state-progress">                                    
                                    <ul class="state-progress-txt-area">
                                        <li style="width:20%;">안심</li>
                                        <li style="width:20%;">다소 안심</li>
                                        <li style="width:20%;">보통</li>
                                        <li style="width:20%;">신중</li>
                                        <li style="width:20%;">주의</li>
                                    </ul>
                                    <ul class="state-progress-bar-area">
                                        <li style="width:20%; background-color:#00a0c4;"></li>
                                        <li style="width:20%; background-color:#57b24c;"></li>
                                        <li style="width:20%; background-color:#f5c81d;"></li>
                                        <li style="width:20%; background-color:#f5852d;"></li>
                                        <li style="width:20%; background-color:#ed2c2d;"></li>
                                    </ul>
                                    <i style="left:30%;" class="icon16 icon-graph-arrow"></i>
                                </div>
                                <div class="qr-code"><img src="/images/qr/qr-code-101-7-1-1.png" alt="" /></div>
                            </div>
                            <div class="info-txt">
                                <i class="icon16 icon-info"></i>
                                <em class="bold">위 등급</em>은 사생활 침해 위험, 혜택, 명확성 등을 종합적으로
                                고려하여 동의내용의 평가등급을 제공하는 제도입니다.(자세한 사항 QR코드 참조)
                            </div>
                        </dd>

                        <dt>수집ㆍ이용 목적</dt><!-- 2021-12-03 문구수정 -->
                        <dd class="txt-blue">
                            <ul class="top-bullet-list">
                                <li class="txt-blue">KB금융그룹 개인화 고객관리·분석, 맞춤형 상품·서비스·알고리즘 개발, 이용환경 개선</li>
                                <li class="txt-blue">마이데이터 서비스 시계열 이용통계 작성·분석</li>
                            </ul>
                        </dd>

                        <dt>보유 및 이용기간</dt>
                        <dd class="txt-blue">KB차차차 마이데이터 서비스 이용 종료 시 또는 삭제 요구 시 또는 동의 철회 시까지</dd>
                        <dd>
                            위 보유기간에서 서비스 이용 종료시란 “이용자의 선택에 따른 
                            KB차차차 마이데이터 서비스 탈퇴 또는 서비스 이용 정지사유(이용자의 고의ㆍ중과실로 인한 신용정보법 등 관계법령 위반 등)로 인한 서비스 이용 종료를 말합니다.
                        </dd>

                        <dt>거부 권리 및 불이익</dt>
                        <dd>
                            위 개인(신용)정보 수집ㆍ이용에 관한 동의는 거부하실 수있으며 “KB 마이데이터 통합 분석”을 위한 선택적 사항이므로 동의하지 않더라도 “KB차차차 마이데이터 서비스”를 
                            이용할 수 있습니다. 다만, 동의하지 않으시는 경우 “KB 마이데이터 통합 분석”을 통해 제공되는 혜택을 받지 못할 수 있습니다.
                        </dd>

                        <dt>수집ㆍ이용 항목</dt><!-- 2021-12-03 문구수정 -->
                        <dd>
                            <div class="table-wrap">
                                <table>
                                    <caption>테이블</caption>
                                    <colgroup>
                                        <col style="width:10.5rem">
                                        <col style="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="2" scope="col">개인(신용)정보(473개)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <h5>
                                                    <i class="icon24 icon-mypage-on"></i>
                                                    일반개인정보(6개)
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                CI, 휴대폰 기기별 고유식별변호 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h5>
                                                    <i class="icon24 icon-assets-on"></i>
                                                    신용거래정보(467개)
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                아래 신용거래정보 항목 중 정보주체가 전송을 요구하여 당사가 수집한 신용거래정보 항목에 한하여 수집ㆍ이용합니다.
                                            </td><!-- 2021-12-03 문구수정 -->
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                은행
                                            </td>
                                            <td>
                                                계좌잔액, 거래금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                카드
                                            </td>
                                            <td>
                                                승인내역, 청구금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                금융투자
                                            </td>
                                            <td>
                                                거래금액, 평가금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                보험
                                            </td>
                                            <td>
                                                상품명, 담보금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                전자금융
                                            </td>
                                            <td>
                                                권면ID, 총잔액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                할부금융
                                            </td>
                                            <td>
                                                대출잔액, 대출원금 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                보증보험
                                            </td>
                                            <td>
                                                상품명, 가입금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                통신
                                            </td>
                                            <td>
                                                청구금액, 결제금액 등
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="check-area">
                                <p class="tit">위 개인(신용)정보 <strong>수집ㆍ이용</strong><!-- 2021-12-03 문구수정 -->에 동의하십니까?</p>
                                
                                <ul class="terms-check-list">
                                    <li class="icon-item"><i class="icon-round-green">다소안심</i></li>                                    
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의하지 않음</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의함</span>
                                        </label>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="info-txt bullet bold">
                                상기 내용에 동의하시는 경우 당사 임직원 또는 업무수탁자가 상품‧서비스 안내 및 이용권유를 위해 연락드릴 수 있습니다.
                            </div>
                            <div class="info-txt bullet">
                                금융상품과 부수서비스 및 이용권유에 동의하셨더라도 신용정보의 이용 및 보호에 관한 법률에 따라 이용권유 목적의 연락에 대한 중단을 언제라도 여신회사에 요청할 수 있습니다.<br />
                                (대표전화 : 1544-1200 / 홈페이지 : www.kbcapital.co.kr)
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <hr class="next-border" />
            <div class="terms-area">
                <div class="terms-wrap">
                    <div class="terms-top-area">
                        <span class="con-txt2">
                            KB금융그룹 마이데이터 통합분석을 위한 제공
                        </span>
                    </div>

                    <dl class="item-list">                        
                        <dt>제공에 관한 사항</dt>
                        <dd>
                            <div class="state-area">
                                <div class="state-progress">                                    
                                    <ul class="state-progress-txt-area">
                                        <li style="width:20%;">안심</li>
                                        <li style="width:20%;">다소 안심</li>
                                        <li style="width:20%;">보통</li>
                                        <li style="width:20%;">신중</li>
                                        <li style="width:20%;">주의</li>
                                    </ul>
                                    <ul class="state-progress-bar-area">
                                        <li style="width:20%; background-color:#00a0c4;"></li>
                                        <li style="width:20%; background-color:#57b24c;"></li>
                                        <li style="width:20%; background-color:#f5c81d;"></li>
                                        <li style="width:20%; background-color:#f5852d;"></li>
                                        <li style="width:20%; background-color:#ed2c2d;"></li>
                                    </ul>
                                    <i style="left:30%;" class="icon16 icon-graph-arrow"></i>
                                </div>
                                <div class="qr-code"><img src="/images/qr/qr-code-101-7-1-2.png" alt=""></div>
                            </div>
                            <div class="info-txt">
                                <i class="icon16 icon-info"></i>
                                <em class="bold">위 등급</em>은 사생활 침해 위험, 혜택, 명확성 등을 종합적으로
                                고려하여 동의내용의 평가등급을 제공하는 제도입니다.(자세한 사항 QR코드 참조)
                            </div>
                        </dd>

                        <dt>제공받는 자</dt>
                        <!-- 2021-12-03 문구수정 -->
                        <dd class="txt-blue">
                            KB금융지주, KB국민은행, KB증권, KB손해보험, KB국민카드, 푸르덴셜생명보험, KB생명보험, KB저축은행
                        </dd>
                        <!-- // 2021-12-03 문구수정 -->

                        <dt>제공받는 자의 이용 목적</dt>                        
                        <dd>
                            <ul class="top-bullet-list">
                                <li class="txt-blue">KB금융그룹 개인화 고객관리ㆍ분석, 맞춤형 상품ㆍ서비스ㆍ알고리즘 개발, 이용환경 개선</li>
                                <li class="txt-blue">마이데이터 서비스 시계열 이용통계 작성ㆍ분석</li>
                            </ul>
                        </dd>

                        <dt>보유 및 이용기간</dt>
                        <dd class="txt-blue">
                            KB차차차 마이데이터 서비스 이용 종료 시 또는 삭제 요구 시 또는 동의 철회 시까지
                        </dd>
                        <dd>
                            위 보유기간에서 서비스 이용 종료시란 “이용자의 선택에 따른 KB차차차 마이데이터 서비스 탈퇴 또는 서비스 이용 정지사유(이용자의 고의ㆍ중과실로 인한 신용정보법 등 관계법령 위반 등)로 인한 서비스 이용 종료를 말합니다.
                        </dd>

                        <dt>거부 권리 및 불이익</dt>
                        <dd>
                            위 개인(신용)정보 수집ㆍ이용에 관한 동의는 거부하실 수있으며 “KB 마이데이터 통합 분석”을 위한 선택적 사항이므로 동의하지 않더라도 “KB차차차 마이데이터 서비스”를 이용할 수 있습니다. 다만, 동의하지 않으시는 경우 
                            “KB 마이데이터 통합 분석”을 통해 제공되는 혜택을 받지 못할 수 있습니다.
                        </dd><!-- 2021-12-03 문구수정 -->

                        <dt>제공 항목</dt>
                        <dd>
                            <div class="table-wrap">
                                <table>
                                    <caption>테이블</caption>
                                    <colgroup>
                                        <col style="width:10.5rem">
                                        <col style="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="2" scope="col">개인(신용)정보(473개)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <h5>
                                                    <i class="icon24 icon-mypage-on"></i>
                                                    일반개인정보(6개)
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                CI, 휴대폰 기기별 고유식별변호 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h5>
                                                    <i class="icon24 icon-assets-on"></i>
                                                    신용거래정보(467개)
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                아래 신용거래정보 항목 중 정보주체가 전송을 요구하여 당사가 수집한 신용거래정보 항목에 한하여 수집ㆍ이용합니다.
                                            </td><!-- 2021-12-03 문구수정 -->
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                은행
                                            </td>
                                            <td>
                                                계좌잔액, 거래금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                카드
                                            </td>
                                            <td>
                                                승인내역, 청구금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                금융투자
                                            </td>
                                            <td>
                                                거래금액, 평가금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                보험
                                            </td>
                                            <td>
                                                상품명, 담보금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                전자금융
                                            </td>
                                            <td>
                                                권면ID, 총잔액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                할부금융
                                            </td>
                                            <td>
                                                대출잔액, 대출원금 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                보증보험
                                            </td>
                                            <td>
                                                상품명, 가입금액 등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="bold">
                                                통신
                                            </td>
                                            <td>
                                                청구금액, 결제금액 등
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="check-area">
                                <p class="tit">위 개인(신용)정보 <strong>제공</strong><!-- 2021-12-03 "수집ㆍ이용" => "제공" 문구수정 -->에 동의하십니까?</p>
                                
                                <ul class="terms-check-list">
                                    <li class="icon-item"><i class="icon-round-green">다소안심</i></li>                                    
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의하지 않음</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의함</span>
                                        </label>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="info-txt bullet bold">
                                상기 내용에 동의하시는 경우 당사 임직원 또는 업무수탁자가
                                상품‧서비스 안내 및 이용권유를 위해 연락드릴 수 있습니다.
                            </div>
                            <div class="info-txt bullet">
                                금융상품과 부수서비스 및 이용권유에 동의하셨더라도 신용정보의 이용 및 보호에 관한 법률에 따라 이용권유 목적의 연락에 대한 중단을 언제라도 여신회사에 요청할 수 있습니다.<br />
                                (대표전화 : 1544-1200 / 홈페이지 : www.kbcapital.co.kr)
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>