<div class="modal-wrap CMYMCP365" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>동의서 타이틀</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <select name="" id="" class="inline-select">
                <option value="">2021.04.02</option>
                <option value="">2021.04.01</option>
            </select>

            <div class="confirm-area">
                <span class="confirm-txt">본문영역</span>
            </div>
        </div>
        <!-- 2021-07-16 마크업 추가 -->
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의 철회</span></button><!-- 미동의일 경우 '동의', 동의일 경우 '동의 철회' -->
            </div>
        </div>
        <!-- // 2021-07-16 마크업 추가 -->
    </div>
</div>