<div class="modal-wrap CMYMCP154" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 수집·이용 동의서(상세정보 전송)</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-08-18 전체적인 내용 수정 & 추가 -->
            <p class="body-120">KB차차차는 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보 보호법」 등 관련 법령에 따라 다음과 같이 귀하의 개인(신용)정보를 처리합니다.</p>
            <dl class="item-list">
                <dt>수집·이용 목적</dt>
                <dd>전송요구를 통한 본인신용정보 통합조회 서비스의 이용</dd>
                <dt>보유 및 이용기간</dt>
                <dd class="txt-blue">서비스 이용 종료 시 또는 삭제 요구 시까지</dd><!-- 2021-09-01 띄어쓰기 수정 -->
                <dt>거부 권리 및 불이익</dt>
                <dd>귀하는 개인(신용)정보 수집·이용에 관한 동의를 거부하실 수 있습니다. 다만, “수집·이용에 관한 동의”는 본인신용정보 통합조회 서비스의 제공을 위한 필수적 사항이므로 동의를 거부하실 경우 본인신용정보 통합조회 서비스의 이용이 제한될 수 있습니다.</dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <!-- 2021-09-10 구조 수정 -->
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:10.5rem">
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">개인(신용)정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-mypage-on"></i>
                                            개인(식별)정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>전자서명, 접근토큰, 인증서, 전송요구서</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-assets-on"></i>
                                            신용거래정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">은행</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>수신계좌 정보</li>
                                        </ul>
                                        <p>계좌 기본정보(저축방법, 계좌개설일자, 만기일, 약정액, 월 납입액), 계좌 추가정보(현재잔액, 출금 가능액, 적용금리, 최종납입회차), 계좌 거래내역(거래일시 또는 거래일자, 거래번호, 거래유형, 거래구분, 거래금액, 거래 후 잔액, 납입회차)</p>
                                        
                                        <ul class="bullet-list sm">
                                            <li>투자상품 정보</li>
                                        </ul>
                                        <p>계좌 기본정보(표준 펀드코드, 납입유형, 개설일, 만기일) 계좌 추가정보(잔액, 평가금액, 투자원금 보유좌수), 계좌 거래내역(거래일시 또는 거래일자, 거래번호, 거래유형, 기준가, 거래좌수, 거래금액, 거래 후 잔고평가금액)</p>
                                        
                                        <ul class="bullet-list sm">
                                            <li>대출상품 정보</li>
                                        </ul>
                                        <p>계좌 기본정보(대출일, 만기일, 최종적용금리, 월상환일, 상환방식, 자동이체 기관, 상환계좌번호), 계좌 추가정보(대출잔액, 대출원금, 다음 이자 상환일), 계좌 거래내역(거래일시 또는 거래일자, 거래번호, 거래유형, 거래금액, 거래 후 대출잔액, 거래금액 중 원금, 거래금액 중 이자, 환출이자, 이자적용시작일, 이자적용종료일, 적용이율, 이자금액, 이자종류)</p>
                                        
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                        <p>계좌 기본정보(계좌잔액, 계좌평가금액, 사용자부담금, 가입자부담금, 개설일, 최초입금일, 최초 제도 가입일, 연금개시 시작(예정)일), 계좌 추가정보(개별운용상품명, 상품유형, 평가금액, 납입(투자)원금, 보유좌수, 신규일, 만기일, 약정이자율), 계좌 거래내역(거래일시 또는 거래일자, 거래번호, 거래구분, 거래금액)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">금투</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계좌 목록</li>
                                        </ul>
                                        <p>계좌 기본정보(계개설일, 세제혜택 적용여부, 예수금, 신용 융자, 대출금), 계좌 거래내역(종목명(상품명), 종목코드(상품코드), 거래일시 또는 거래일자, 거래번호, 거래종류, 거래종류 상세, 거래수량, 거래단가, 거래금액, 정산금액, 거래후잔액), 계좌 상품정보(상품종류, 상품종류상세, 상품코드(종목코드), 상품명, 매입금액, 보유수량, 매도가능수량, 평가금액, 가입일자, 납부총액, 기출금액, 최종납입일, 연금기수령액)</p>
                                        
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                        <p>계좌 기본정보(계좌잔액, 계좌평가금액, 사용자부담금, 가입자부담금, 개설일, 최초입금일, 최초 제도 가입일, 연금개시 시작(예정)일), 계좌 추가정보(개별운용상품명, 상품유형, 평가금액, 납입(투자)원금, 보유좌수, 신규일, 만기일, 약정이자율), 계좌 거래내역(거래일시 또는 거래일자, 거래번호, 거래구분, 거래금액)</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- // 2021-09-10 구조 수정 -->
                    <div class="check-area">
                        <p class="tit">위 개인(신용)정보 <strong>수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">적요 또는 거래메모 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>적요 또는 거래메모 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="tit">위 <strong>적요 또는 거래메모 정보 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio2-1" class="">
                                    <input type="radio" name="terms-radio2" id="terms-radio2-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio2-1" class="">
                                    <input type="radio" name="terms-radio2" id="terms-radio2-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">가맹점명 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>가맹점명 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="tit">위 <strong>가맹점명 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio3-1" class="">
                                    <input type="radio" name="terms-radio3" id="terms-radio3-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio3-1" class="">
                                    <input type="radio" name="terms-radio3" id="terms-radio3-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">상품구매 카테고리 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>가전 및 전자, 도서 및 문구, 패션 및 의류, 스포츠, 화장품, 아동 및 유아, 식품, 생활 및 가구, 여행 및 교통,문화 및 레저, 음식, E쿠폰 및 기타서비스 카테고리 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="tit">위 <strong>상품구매 카테고리 정보 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio4-1" class="">
                                    <input type="radio" name="terms-radio4" id="terms-radio4-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio4-1" class="">
                                    <input type="radio" name="terms-radio4" id="terms-radio4-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <!-- // 2021-08-18 전체적인 내용 수정 & 추가 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>