<div class="modal-wrap CMYMCP105" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>서비스 가입 안내</h3><!-- 2021-08-18 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-08-20 전체적인 마크업 수정 -->
            <h4 class="contents-title-300">
                소중한 내 정보 지키며<br>
                마이데이터 서비스 이용하는 법
            </h4>

            <div class="step-info">
                <ul>
                    <li>
                        <span class="num">1</span>
                        마이데이터 서비스 가입전 한번 더 고민하기
                    </li>
                    <li>
                        <span class="num">2</span>
                        반드시 필요한 마이데이터 서비스만 가입하기
                    </li>
                    <li>
                        <span class="num">3</span>
                        잘 이용하지 않는 마이데이터 APP은 삭제하기
                    </li>
                </ul>
            </div>

            <p class="body-120">
                <span>김국민</span>님께서 이용하는 마이데이터 서비스는 마이데이터 종합포털 <a href="https://www.mydatacenter.or.kr">www.mydatacenter.or.kr</a> 에서 확인이 가능합니다.
            </p>

            <p class="body-210">무분별한 마이데이터 서비스 가입은 내 정보의 과도한 전송 및 집적을 초래할 수 있습니다.</p>
            <!-- // 2021-08-20 전체적인 마크업 수정 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>서비스 가입</span></button>
            </div>
        </div>
    </div>
</div>