<div class="modal-wrap CMYMCP189" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="result-box">
                <i class="icon48 icon-nodata"></i>
                <p class="tit">
                    자산연결 진행 중 이전 단계로 돌아갈 경우<br />
                    인증방식 선택 화면으로 이동됩니다.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>