<div class="modal-wrap CMYMCP304" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>연결상태 조회</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="property-list">                
                <li>
                    <div class="box">
                        <p class="tit">ㅇㅇㅇㅇㅇㅇㅇ보통예금</p>
                        <ul class="info">
                            <li>입출금</li>
                            <li>1234567890123</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="data-list">
                <ul>
                    <!-- 2021-10-28 데이터 연동 관리_연결중&amp;오류 -->
                    <li>
                        <span class="tit">상태</span>
                        <span class="txt">연결중</span>
                    </li>
                    <li>
                        <span class="tit">최초 연결일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">연결해제일시</span>
                        <span class="txt">-</span>
                    </li>
                    <li>
                        <span class="tit">데이터삭제일시</span>
                        <span class="txt">-</span>
                    </li>
                    <li>
                        <span class="tit">최근 업데이트 일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">업데이트 성공 여부</span>
                        <span class="txt error"> <!-- 2021-10-28 minus 클래스 명을 error 클래스 명으로 변경 -->
                            오류
                            <a href="javascript:;" class="btn-txt">관리</a>
                        </span>
                    </li>
                    <!-- // 2021-10-28 데이터 연동 관리_연결중&amp;오류 -->


                    <!-- 2021-10-28 데이터 연동 관리_연결중&amp;성공
                    <li>
                        <span class="tit">상태</span>
                        <span class="txt">연결중</span>
                    </li>
                    <li>
                        <span class="tit">최초 연결일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">연결해제일시</span>
                        <span class="txt">-</span>
                    </li>
                    <li>
                        <span class="tit">데이터삭제일시</span>
                        <span class="txt">-</span>
                    </li>
                    <li>
                        <span class="tit">최근 업데이트 일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">업데이트 성공 여부</span>
                        <span class="txt">성공</span>
                    </li>
                    -->


                    <!-- 2021-10-28 데이터 연동 관리_연결해제
                    <li>
                        <span class="tit">상태</span>
                        <span class="txt">연결해제</span>
                    </li>
                    <li>
                        <span class="tit">최초 연결일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">연결해제일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">데이터삭제일시</span>
                        <span class="txt">-</span>
                    </li>
                    <li>
                        <span class="tit">최근 업데이트 일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">업데이트 성공 여부</span>
                        <span class="txt">-</span>
                    </li>
                    -->

                    
                    <!-- 2021-10-28 데이터 연동 관리_삭제
                    <li>
                        <span class="tit">상태</span>
                        <span class="txt">삭제</span>
                    </li>
                    <li>
                        <span class="tit">최초 연결일시</span>
                        <span class="txt">2021.02.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">연결해제일시</span>
                        <span class="txt">2021.03.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">데이터삭제일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">최근 업데이트 일시</span>
                        <span class="txt">2021.04.10 15:20</span>
                    </li>
                    <li>
                        <span class="tit">업데이트 성공 여부</span>
                        <span class="txt">-</span>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>