<div class="modal-wrap CMYMCP175" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 수집·이용 동의서</h3><!-- 2021-08-18 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-08-18 전체적인 내용 수정 & 추가 -->
            <p class="body-120">KB차차차는 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보 보호법」 등 관련 법령에 따라 다음과 같이 귀하의 개인(신용)정보를 처리합니다.</p>
            <dl class="item-list">
                <dt>수집·이용 목적</dt>
                <dd>전송요구를 통한 본인신용정보 통합조회 서비스의 이용</dd>
                <dt>보유 및 이용기간</dt>
                <dd class="txt-blue">서비스 이용 종료 시 또는 삭제 요구 시까지</dd><!-- 2021-09-01 띄어쓰기 수정 -->
                <dt>거부 권리 및 불이익</dt>
                <dd>귀하는 개인(신용)정보 수집·이용에 관한 동의를 거부하실 수 있습니다. 다만, “수집·이용에 관한 동의”는 본인신용정보 통합조회 서비스의 제공을 위한 필수적 사항이므로 동의를 거부하실 경우 본인신용정보 통합조회 서비스의 이용이 제한될 수 있습니다.</dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:10.5rem">
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">개인(신용)정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-mypage-on"></i>
                                            개인(식별)정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>접근토큰</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5>
                                            <i class="icon24 icon-assets-on"></i>
                                            신용거래정보
                                        </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>아래 항목 중 정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" rowspan="2" class="bold">은행</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계좌(수신/투자상품/대출상품) 목록</li>
                                        </ul>
                                        <p>최초회원가입일, 적요 전숑요구 여부, 계좌번호, 회차번호, 외화계좌여부, 상품명, 마이너스 약정여부, 계좌구분, 계좌상태</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
                                        <p>계좌번호, 상품명</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" rowspan="2" class="bold">금융투자</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계좌 목록</li>
                                        </ul>
                                        <p>최초회원가입일, 계좌번호, 계좌명, 계좌종류, 계좌상태</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
                                        <p>계좌번호, 상품명</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">카드</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>카드 목록</li>
                                        </ul>
                                        <p>가맹점명 전송요구 여부, 카드 식별자, 카드번호, 카드상품명, 본인/가족 구분, 카드 구분</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" rowspan="3" class="bold">보험</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>보험증권 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>대출계좌 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">보증보험</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>보증보험 증권 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">할부금융</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계좌(대출/운용리스) 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="bold">통신</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>통신 계약 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" rowspan="2" class="bold">전자금융</td>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>선불전자지급수단 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>계정 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="tit">위 개인(신용)정보 <strong>수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">적요 또는 거래메모 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>적요 또는 거래메모 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="sub-txt">정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                        <p class="tit">위 <strong>적요 또는 거래메모 정보 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio2-1" class="">
                                    <input type="radio" name="terms-radio2" id="terms-radio2-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio2-1" class="">
                                    <input type="radio" name="terms-radio2" id="terms-radio2-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">가맹점명 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>가맹점명 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="sub-txt">정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                        <p class="tit">위 <strong>가맹점명 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio3-1" class="">
                                    <input type="radio" name="terms-radio3" id="terms-radio3-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio3-1" class="">
                                    <input type="radio" name="terms-radio3" id="terms-radio3-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">상품구매 카테고리 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>가전 및 전자, 도서 및 문구, 패션 및 의류, 스포츠, 화장품, 아동 및 유아, 식품, 생활 및 가구, 여행 및 교통,문화 및 레저, 음식, E쿠폰 및 기타서비스 카테고리 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="sub-txt">정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                        <p class="tit">위 <strong>상품구매 카테고리 정보 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio4-1" class="">
                                    <input type="radio" name="terms-radio4" id="terms-radio4-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio4-1" class="">
                                    <input type="radio" name="terms-radio4" id="terms-radio4-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <!-- // 2021-08-18 전체적인 내용 수정 & 추가 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>