<div class="modal-wrap CMYMCP101" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 수집ㆍ이용 동의서(마이데이터 관련 상품 및 서비스 안내)</h3><!-- 2021-12-07 타이틀 수정 : 퍼블파일에서 [선택] 또는 [필수] 삭제 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="terms-area">
                <div class="terms-wrap">
                    <dl class="item-list"><!-- 2021-12-02 div를 dl로 수정 -->
                        <dt class="first dd-txt">KB차차차 마이데이터 상품ㆍ서비스에 관한 광고성 정보 안내 및 이용권유를 위한 수집ㆍ이용</dt><!-- 2021-12-03 문구수정 --> <!-- 2021-10-27 'dd-txt'클래스 추가 -->
                        <dd>KB차차차 마이데이터 상품ㆍ서비스에 관한 광고성 정보 제공과 관련하여 회사가 본인의 개인(신용)정보를 수집ㆍ이용하고자 하는 경우에는 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보보호법」 등 관계 법령에 따라 본인의 동의가 필요합니다.</dd>
                        <dt>수집ㆍ이용 목적</dt><!-- 2021-12-03 문구수정 -->
                        <dd class="txt-blue">상품ㆍ서비스 안내 및 이용권유, 자산관리정보 제공</dd> <!-- 2021-11-22 txt-blue2 클래스를 txt-blue 클래스로 변경 -->
                        
                        <dt>보유 및 이용기간</dt>                        
                        <!-- 2021-11-25 문구변경 -->
                        <dd class="txt-blue">KB차차차 마이데이터 서비스 이용 종료시 또는 동의 철회 시까지</dd> <!-- 2021-11-22 txt-black 클래스를 txt-blue 클래스로 변경 -->
                        <!--// 2021-11-25 문구변경 -->

                        <dt>거부 권리 및 불이익</dt>
                        <dd>
                            위 개인(신용)정보 수집ㆍ이용에 관한 동의를 거부하실 수 있으며, 동의 후에도 언제든지 철회 가능합니다. 다만, 동의하지 않으시는 경우 “상품ㆍ서비스 안내 등”의 혜택을 받지 못할 수 있습니다.
                        </dd><!-- 2021-12-03 문구수정 -->
                        <dt>수집ㆍ이용 항목</dt><!-- 2021-12-03 문구수정 -->
                        <dd>
                            <div class="table-wrap">
                                <table>
                                    <caption>테이블</caption>
                                    <colgroup>
                                        <col style="width:10.5rem">
                                        <col style="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="2" scope="col">개인(신용)정보</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <h5>
                                                    <i class="icon24 icon-mypage-on"></i>
                                                    일반개인정보
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- 2021-11-25 문구변경 -->
                                            <td colspan="2">
                                                휴대전화번호, 휴대폰 기기별 고유식별번호(ID)
                                            </td>
                                            <!-- // 2021-11-25 문구변경 -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="check-area">
                                <p class="tit">위 개인(신용)정보 <strong>수집ㆍ이용</strong><!-- 2021-12-03 문구수정 -->에 동의하십니까?</p> <!-- 2021-10-27 태그 위치 수정 -->
                                <ul class="terms-check-list">
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의하지 않음</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의함</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="table-wrap">
                                <table>
                                    <caption>테이블</caption>
                                    <colgroup>
                                        <col style="width:10.5rem">
                                        <col style="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="2" scope="col">상품서비스 안내</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="check-area">
                                <p class="tit">
                                    전자적 전송매체를 통한 광고성 정보 수신을 동의하시겠습니까?
                                </p>
                                <ul class="terms-check-list">
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1-1" id="terms-radio1-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의하지 않음</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio1-2" id="terms-radio1-2" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">동의함</span>
                                        </label>
                                    </li>
                                </ul>
                                <ul class="terms-check-list evenly">
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio2-1" id="terms-radio2-1" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">전체</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio2-2" id="terms-radio2-2" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">앱푸시</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="terms-radio1-1" class="">
                                            <input type="radio" name="terms-radio2-3" id="terms-radio2-3" disabled="">
                                            <i class="icon"></i>
                                            <span class="txt">SMS</span>
                                        </label>
                                    </li>
                                </ul>                                
                            </div>

                            <!-- 2021-11-25 문구변경 -->
                            <div class="info-txt bullet bold"> <!-- 2021-11-01 bold 클래스 추가 --> <!-- 2021-11-25 bullet 클래스 추가 -->
                                상기 내용에 동의하시는 경우 당사 임직원 또는 업무수탁자가 상품‧서비스 안내 및 이용권유를 위해 연락드릴 수 있습니다.
                            </div>
                            <!-- // 2021-11-25 문구변경 -->
                            <!-- 2021-11-25 추가 -->
                            <div class="info-txt bullet"> <!-- 2021-11-25 bullet 클래스 추가 -->
                                금융상품과 부수서비스 및 이용권유에 동의하셨더라도 신용정보의 이용 및 보호에 관한 법률에 따라 이용권유 목적의 연락에 대한 중단을 언제라도 여신회사에 요청할 수 있습니다. 
                                (대표전화 : 1544-1200 / 홈페이지 : www.kbcapital.co.kr)
                            </div>
                            <!-- // 2021-11-25 추가 -->
                        </dd>
                    </dl><!-- 2021-12-02 div를 dl로 수정 -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>