<div class="modal-wrap CMYMCP278" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>보장내용 조회</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
    
            <div class="detail-list">
                <ul>
                    <li>
                        <div class="data-list">
                            <ul>
                                <li>
                                    <span class="tit">담보특성</span>
                                    <span class="txt">입원의료비</span>
                                </li>
                                <li>
                                    <span class="tit">담보</span>
                                    <span class="txt">상해</span>
                                </li>
                                <li>
                                    <span class="tit">담보상태</span>
                                    <span class="txt">정상</span>
                                </li>
                                <li>
                                    <span class="tit">담보금액</span>
                                    <span class="txt">000,000,000원</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="data-list">
                            <ul>
                                <li>
                                    <span class="tit">담보특성</span>
                                    <span class="txt">입원의료비</span>
                                </li>
                                <li>
                                    <span class="tit">담보</span>
                                    <span class="txt">상해</span>
                                </li>
                                <li>
                                    <span class="tit">담보상태</span>
                                    <span class="txt">정상</span>
                                </li>
                                <li>
                                    <span class="tit">담보금액</span>
                                    <span class="txt">000,000,000원</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>