<div class="modal-wrap CMYMCP174" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>수집·이용 및 제공 동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            
            <!-- 2021-09-30 전체적인 항목 수정 -->
            <div class="agree-box">
                <div class="agree-top">
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>             
                    </label>
                    <a href="javascript:;" class="txt-link">전체동의</a>
                </div>
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 제공 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 제공 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 수집·이용 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[선택] 적요 또는 거래메모 정보 수집·이용 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[선택] 가맹점명 및 사업자등록번호 정보 수집·이용 동의</a> <!-- 2021-10-06 사업자등록 번호 -&gt; 사업자등록번호 -->
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[선택] 상품구매 카테고리 정보 수집·이용 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                </ul>
            </div>
            <!-- // 2021-09-30 전체적인 항목 수정 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>