<div class="modal-wrap CMYMCP185" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>통합인증(인증서 본인확인)을 위한 동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            
            <!-- 2021-09-14 동의 박스 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경 -->
            <div class="agree-box">
                <div class="agree-top">
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>             
                    </label>
                    <a href="javascript:;" class="txt-link">전체동의</a>
                </div>
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 인증서 본인확인서비스 이용약관</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인정보 처리 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 고유식별정보 수집·이용 및 위탁 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                </ul>
            </div>
            <!-- // 2021-09-14 동의 박스 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경-->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>