<div class="modal-wrap CMYMCP187" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인정보 처리 동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 약관영역 -->
            <div class="terms-wrap">
                <div class="agreement-area">
                    <iframe class="agreement-iframe" src="https://crosscert.com/mydata/privacy_agreement.html"></iframe>
                </div>
            </div>
            <!-- // 약관영역 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>전체동의</span></button>
            </div>
        </div>
    </div>
</div>