<div class="modal-wrap CMYMCP147" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구 및 수집·이용·제공 동의</h3><!-- 2021-08-18 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-09-14 동의 리스트 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경 -->
            <div class="agree-box">
                <div class="agree-top">
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>             
                    </label>
                    <a href="javascript:;" class="txt-link">전체동의</a>
                </div>
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 가입상품 목록 전송요구서</a> <!-- 2021-10-06 문구수정 -->
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 수집·이용 동의(가입상품 목록 조회)</a> <!-- 2021-10-06 문구수정 -->
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 제공 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                    <li> <!-- 2021-09-30 마크업 추가 -->
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 개인(신용)정보 제공 동의</a>
                        <span class="icon16 icon-arrow-right-gray">약관보기</span>
                    </li>
                </ul>
            </div>
            <!-- // 2021-09-14 동의 리스트 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>