<div class="modal-wrap CMYMCP184" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>상품구매 카테고리 정보 수집·이용 동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p class="body-120">KB차차차는 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보 보호법」 등 관련 법령에 따라 다음과 같이 귀하의 개인(신용)정보를 처리합니다.</p><!-- 2021-09-30 마크업 추가 -->
            <dl class="item-list">
                <!-- 2021-09-30 마크업 추가 -->
                <dt>수집·이용 목적</dt>
                <!-- 2021-11-19 문구수정 -->
                <dd>전송요구를 통한 본인신용정보 통합조회, 데이터분석 서비스의 이용</dd>
                <!-- // 2021-11-19 문구수정 -->

                <dt>보유 및 이용기간</dt>
                <dd class="txt-blue">서비스 이용 종료 시 또는 삭제 요구 시까지</dd>
                
                <dt>거부 권리 및 불이익</dt>
                <!-- 2021-11-19 문구수정 -->
                <dd>귀하는 개인(신용)정보 수집･이용에 관한 동의를 거부하실 수 있습니다. 다만, “필수 항목에 대한 수집･이용에 관한 동의”는 본인신용정보 통합조회, 데이터분석 서비스의 이용을 위한 필수적 사항이므로 동의를 거부하실 경우 본인신용정보 통합조회, 데이터분석 서비스의 이용이 제한될 수 있으며, “선택 항목에 대한 수집･이용에 관한 동의”는 거부하실 경우 해당 선택 항목에 대한 본인신용정보 통합조회, 데이터분석 서비스의 이용이 제한될 수 있습니다.</dd>
                <!-- // 2021-11-19 문구수정 -->
                
                <!-- // 2021-09-30 마크업 추가 -->
                <dt>수집·이용 항목</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">상품구매 카테고리 정보</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>가전 및 전자, 도서 및 문구, 패션 및 의류, 스포츠, 화장품, 아동 및 유아, 식품, 생활 및 가구, 여행 및 교통,문화 및 레저, 음식, E쿠폰 및 기타서비스 카테고리 정보</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-area">
                        <p class="sub-txt">정보주체가 전송요구하기 위해 선택한 개인신용정보 항목에 한하여 수집·이용 합니다.</p>
                        <p class="tit">위 <strong>상품구매 카테고리 정보 수집·이용</strong>에 동의하십니까?</p>
                        <ul class="terms-check-list">
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의하지 않음</span>
                                </label>
                            </li>
                            <li>
                                <label for="terms-radio1-1" class="">
                                    <input type="radio" name="terms-radio1" id="terms-radio1-1" disabled="">
                                    <i class="icon"></i>
                                    <span class="txt">동의함</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>