<div class="modal-wrap CMYMCP009" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">기관 연결 안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="modal-txt">
                전송요구 기간이 만료되었습니다.<br />
                다시 연결하시겠습니까?
            </div>
            <div class="bullet-wrap">
                <ul class="bullet-list">
                    <li>고객님이 연동한 기관의 전송요구 기간이 만료되어 연결이 해제되었습니다.</li>
                    <li>연결을 원하시면 아래의 연결하기 버튼을 눌러 진행하시기 바랍니다.</li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>연결하기</span></button>
            </div>
        </div>
        
        
    </div>
</div>