@charset "UTF-8";

.CMYCTE007{
    .part{
        margin:3.2rem -1.6rem 0;
        padding:3.2rem 1.6rem 0;
        border-top:0.8rem solid #f8f8f8;
        &:first-child{
            margin-top:0;
            padding-top:0;
            border-top:none;
        }
        &.top{
            & + .part{
                margin-top:0.8rem;
            }
        }
        .part-tit-wrap{
            padding-right:0;
            dl{
                dd{
                    position:relative;
                    display:inline-block;
                    margin-top:0.8rem;
                }
            }
        }
        .link-list{
            margin-top:2.4rem;
            > li{
                padding:1.6rem 0;
                .txt {
                    span {
                        word-wrap:break-word; /* Internet Explorer 5.5+ */ 
                        white-space:pre-wrap; /* css-3 */ 
                        white-space:-moz-pre-wrap; /* Mozilla, since 1999 */ 
                        white-space:-pre-wrap; /* Opera 4-6 */ 
                        white-space:-o-pre-wrap; /* Opera 7 */  
                        word-break:break-all;
                    }                    
                }                
            }
        }
        .data-list{
            ul{
                li{
                    div.txt{
                        display:inline-flex;
                        align-items:center;
                    }
                    a {
                        &.txt {
                            span {
                                word-wrap:break-word; /* Internet Explorer 5.5+ */ 
                                white-space:pre-wrap; /* css-3 */ 
                                white-space:-moz-pre-wrap; /* Mozilla, since 1999 */ 
                                white-space:-pre-wrap; /* Opera 4-6 */ 
                                white-space:-o-pre-wrap; /* Opera 7 */  
                                word-break:break-all;
                            }                            
                        }
                    }
                }
            }
        }
        .txt-input { 
            font-size:0;
            .date-time-div {
                font-size:0;
                white-space:nowrap;
            }
            label {
                position:relative;
                vertical-align:middle;     
                ~ label {
                    padding-left:1.6rem;
                    &:before {
                        position:absolute;
                        top:50%;;
                        transform:translateY(-50%);
                        left:0.8rem;
                        display:block;
                        content:"";
                        clear:both;
                        width:1px;
                        height:1.4rem;
                        border-left:1px solid #ddd;
                    }
                }
            }           
        }
    }
    .inp-box {
        &.type-price {
            input {
                height:4.8rem !important;
            }
        } 
    }
}