<!DOCTYPE html>
<html lang="ko" style="margin:0; padding:0;">
<head>
	<meta charset="utf-8">
</head>
<body style="margin:0; padding:0;">
	<!-- 2021-10-12 붙여넣기 태그 영역 -->
	<div style="position:relative; width:100%; height:100vh; margin:0; padding:0;">
		<div style="position:absolute; top:50%; transform:translateY(-50%); left:0; width:100%; margin:0; padding:0;">
			<i style="display:block; background:url(icon48-comm-error.svg) no-repeat center/48px 48px; width:48px; height:48px; margin:0 auto;"></i>
			<p style="text-align:center; line-height:26px; color:#222; font-size:18px; font-weight:700; letter-spacing:-0.4px; margin:0; padding-top:16px;">페이지를 찾을 수 없습니다.</p>
			<p style="text-align:center; line-height:24px; color:#666; font-size:16px; font-weight:400; letter-spacing:-0.4px; margin:0; padding-top:8px;">
				페이지 주소의 변경 혹은 삭제로 인해<br />
				접근하실 수 없습니다.
			</p>
		</div>
		<!-- 하단 버튼 영역 -->
		<div style="position:absolute; width:100%; bottom:0; left:0; padding:24px 16px 16px 16px; z-index:100; background:url(bg-page.svg) no-repeat; background-size:cover; box-sizing:border-box;">			
			<button style="width:100%; height:56px; appearance:none; -webkit-appearance:none; border:0; background-color:#ffcc00; padding:0 16px; line-height:56px; text-align:center; border-radius:12px; cursor:pointer;">
				<span style="width:100%; height:26px; display:block; text-align:center; font-weight:500; line-height:26px; color:#222; font-size:18px; letter-spacing:-0.4px; vertical-align:middle;">홈으로 이동</span>	
			</button>
		</div>
		<!-- // 하단 버튼 영역 -->
	</div>
	<!-- // 2021-10-12 붙여넣기 태그 영역 -->
</body>
</html>