<!DOCTYPE html>
<html lang="ko" style="margin:0; padding:0;">
<head>
	<meta charset="utf-8">
</head>
<body style="margin:0; padding:0;">
	<!-- 2021-10-12 붙여넣기 태그 영역 -->
	<div style="position:relative; width:100%; height:100vh; margin:0; padding:0;">
		<div style="position:absolute; top:50%; transform:translateY(-50%); left:0; width:100%; margin:0; padding:0;">
			<i style="display:block; background:url(icon48-comm-commingsoon.svg) no-repeat center/48px 48px; width:48px; height:48px; margin:0 auto;"></i>
			<p style="text-align:center; line-height:26px; color:#222; font-size:18px; font-weight:700; letter-spacing:-0.4px; margin:0; padding-top:16px;">페이지 준비중입니다.</p>
			<p style="text-align:center; line-height:24px; color:#666; font-size:16px; font-weight:400; letter-spacing:-0.4px; margin:0; padding-top:8px;">
				이용에 불편을 드려 죄송합니다.<br />
				빠른 시일내에 준비하여 찾아뵙겠습니다.
			</p>
		</div>
	</div>
	<!-- // 2021-10-12 붙여넣기 태그 영역 -->
</body>
</html>