<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>마이데이터 서비스 안내</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
            <h2>KB차차차 마이데이터 서비스</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content cm">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCMM003-1">
					<div class="mydata-guide-top">
						<h4>마이데이터 서비스란?</h4>
						<span class="con-txt">
							은행, 보험, 증권, 카드 등 여러 업권에 흩어져 있는 내 금융정보를 모아 한눈에 확인하고 관리 할 수 있게 해주며, 모아진 정보를 바탕으로 개인 맞춤형 컨설팅을 제공하는 서비스입니다.
						</span>
						<div class="btn-area">
							<button type="button" class="btn-skyblue"><span>마이데이터 서비스 바로가기</span></button>
						</div>
					</div>

					<h3 class="contents-title-100">
						내 차, <strong>구매</strong>부터 <strong>관리</strong>까지<br />
						KB차차차 마이데이터에서<br />
						시작하세요.
					</h3>
					
					<div class="slide-mydata-guide scroll-mydata-guide">
						<div class="mydata-scroll-wrap">
							<div class="mydata-service-item mydata-service01-block">
								<dl>
									<dt>
										<h4 class="slide-tit">통합 “차”산관리의 시작</h4>
										<span class="slide-txt"><!-- 2021-10-20 문구 변경 -->
											내 자산관리와 내차 관리를 한번에
										</span>
									</dt>
									<dd>										
										<div class="bg-img po-z3"><img src="/images/cm/img-mydata-service-scroll.png" alt="" /></div>										
									</dd>									
								</dl>
							</div>
						</div>

						<div class="mydata-scroll-wrap">
							<div class="mydata-service-item mydata-service02-block">
								<dl>
									<dt>
										<h4 class="slide-tit">똑똑하게 구매하는 내차</h4>
										<span class="slide-txt"><!-- 2021-10-20 문구 변경 -->
											사고 싶은 차를 합리적으로 살 수 있는<br />
											나만의 최적화된 구매 계획을 수립해드려요.
										</span>
									</dt>
									<dd>
										<div class="bg-img"><img src="/images/cm/img-mydata-service-scroll.png" alt="" /></div>										
									</dd>
								</dl>
							</div>
						</div>

						<div class="mydata-scroll-wrap">
							<div class="mydata-service-item mydata-service03-block">
								<dl>
									<dt>
										<h4 class="slide-tit">내차 지출관리 시작, 차테크</h4>
										<span class="slide-txt"><!-- 2021-10-20 문구 변경 -->
											내차 유지비, 내차 보험, 내차 금융까지<br />
											내차 소비내역을 한눈에 관리해드려요.
										</span>
									</dt>
									<dd>
										<div class="bg-img"><img src="/images/cm/img-mydata-service-scroll.png" alt="" /></div>										
									</dd>									
								</dl>
							</div>
						</div>

						<div class="mydata-scroll-wrap">
							<div class="mydata-service-item mydata-service04-block">
								<dl>
									<dt>
										<h4 class="slide-tit">알아서 해주는 내차관리, 내차고</h4>
										<span class="slide-txt"><!-- 2021-10-20 문구 변경 -->
											사고이력, 정기점검, 리콜검사까지<br />
											스마트한 차량관리를 해드려요.
										</span>
									</dt>
									<dd>
										<div class="bg-img"><img src="/images/cm/img-mydata-service-scroll.png" alt="" /></div>										
									</dd>									
								</dl>
							</div>
						</div>
					</div>

					<hr class="line-sortation" />

					<div class="qna-area">
						<h4>자주 묻는 질문</h4>
						<dl class="qna-item">
							<dt>
								<i class="icon-txt">Q</i>
								마이데이터 서비스를 이용하면 어떤 혜택을 받을 수 있나요?
							</dt>
							<dd>
								<i class="icon-txt">A</i>
								여러 업권에 흩어져 있는 내 금융정보를 마이데이터 사업자를 통해 한번에 수집하여 간편하게 관리할 수 있습니다.
							</dd>
						</dl>
						<dl class="qna-item">
							<dt>
								<i class="icon-txt">Q</i>
								내 금융정보는 어떻게 수집하는 건가요?
							</dt>
							<dd>
								<i class="icon-txt">A</i>
								마이데이터는 개인(신용)정보 전송요구권을 기반으로 본인인증을 통해 각 기관의 금융정보를 수집하여 통합조회서비스를 제공합니다.
							</dd>
						</dl>
						<dl class="qna-item">
							<dt>
								<i class="icon-txt">Q</i>
								마이데이터 서비스 가입 기준은 어떻게 되나요?
							</dt>
							<dd>
								<i class="icon-txt">A</i>
								차차차 정회원 중에 만 19세 이상일 경우 서비스 이용 가능합니다.
							</dd>
						</dl>
					</div>

					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>