/* Tooltip */
.tooltip-wrap {position:relative;}
.tooltip {
    display:none; position:absolute; padding:2.4rem 4.8rem 2.4rem 2.4rem; border:0.1rem solid #ddd; border-radius:1.2rem; box-shadow:0 0.3rem 0.6rem rgba(0,0,0,0.04); background:#fff;
    .tit {
        line-height:2rem; font-size:1.4rem; font-weight:700; color:#222;
        & + .txt {margin-top:0.8rem;}
    }
    .txt {line-height:2rem; font-size:1.4rem; color:#666;}
    .icon-close {position:absolute; top:1.6rem; right:0.8rem;}
    &.active {display:block;}
}
.btn-tooltip {
    span {
        display:inline-block; vertical-align:middle; font-size:1.6rem; color:#666; line-height:2.4rem;
        & + .icon-tooltip {margin-left:0.4rem;}
    }
    
}