@charset "UTF-8";

.CMYMPH022 {
    .agree-box {
        margin-top:1.6rem;
        .agree-top {
            padding:1.6rem 4.3rem 1.6rem 4.8rem;
            .icon16 {
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                right:1.6rem;
            }
        }
        + .body-120 {
            margin-top:1.6rem;
        }
    }
}