<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>연습</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>Star CMS 안내</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content etc">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section category-info pt0101">

					<div class="wide-banner-area">
						<div class="banner-box">
							<b>가장 확실한 통합자금관리 솔루션</b>
							<strong>Star CMS</strong>
							<p>
								모든 금융기관을 한 번에 연결해서 <br>
								편리하게 이용하세요!
							</p>
						</div>

						<div class="card-list-area type-info-banner">
							<ul>
								<li class="card-area">
									<div class="card-header">서비스 대상 고객</div>
									<div class="card-container">
										<p class="txt">KB 기업인터넷뱅킹에 가입한 기업고객</p>
									</div>
								</li>
								<li class="card-area">
									<div class="card-header">수수료</div>
									<div class="card-container">
										<p class="txt">무료</p>
									</div>
								</li>
							</ul>
						</div>

						<!-- 불릿 -->
						<!--// 불릿 -->
					</div>

					<!-- 주요서비스 안내 영역  -->
					<!-- <h3 class="contents-title-300">주요 서비스 안내</h3> -->
					<!--// 주요서비스 안내 영역  -->

					
					<!-- 하단 고정버튼 있을때 클래스명 [bottom-fixed] 추가 -->
					<div class="btn-area bottom-fixed">
                        <button class="btn-yellow"><span>등록하기</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>