<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>연습</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">
		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>서비스가입</h2>
		</div>
		<!-- // content-header -->
		<!-- content-body -->
		<div class="content-body">
			<!-- step list -->
			<ul class="step-list">
				<!-- active, end 클래스 추가 시 변경됨 -->
				<li><span class="step-num active">1</span></li>
				<li><span class="step-num">2</span></li>
				<li><span class="step-num">3</span></li>
			</ul>
			<!-- // step list -->
			<!-- text explain area -->
			<div class="text-explain-area">
				<p class="ex-tit">KB국민은행 계좌선택</p>
				<p class="ex-txt">국민산업님,<br>KB국민은행 기업뱅킹에서 이용중인 계좌입니다.<br>Star CMS에서도 이용할 계좌를 선택해 주세요.</p>
			</div>
			<!-- // text explain area -->
			<!-- card list -->
			<div class="card-list">
				<ul>
					<li>
						<div class="card-list-wrap">
							<div class="card-list-header">
								<span class="check-box">
									<input type="checkbox" name="checkbox-1" id="checkbox-1-1">
									<label for="checkbox-1-1">예금/적금/신탁</label>
								</span>
								<span class="card-list-num">3</span>
							</div>
							<div class="card-list-container">
								<ul class="check-list">
									<li>
										<span class="check-box type-sm">
											<input type="checkbox" name="checkbox-2" id="checkbox-2-1">
											<label for="checkbox-2-1">
												<p class="tit">KB기업종합보통예금1(계좌별명)</p>
												<p class="txt">100-2534-123579</p>
												<div class="price-box">
													<span class="price-tit">잔액</span>
													<span class="price-txt">1,000,000,000</span>
													<span class="unit">원</span>
												</div>
											</label>
										</span>
									</li>
									<li>
										<span class="check-box type-sm">
											<input type="checkbox" name="checkbox-2" id="checkbox-2-2">
											<label for="checkbox-2-2">
												<p class="tit">KB기업종합보통예금1(계좌별명)</p>
												<p class="txt">100-2534-123579</p>
												<div class="price-box">
													<span class="price-tit">대출금액</span>
													<span class="price-txt">1,000,000,000</span>
													<span class="unit">원</span>
												</div>
											</label>
										</span>
									</li>
									<li>
										<span class="check-box type-sm">
											<input type="checkbox" name="checkbox-2" id="checkbox-2-3">
											<label for="checkbox-2-3">
												<p class="tit">KB기업종합보통예금1(계좌별명)</p>
												<p class="txt">100-2534-123579</p>
												<div class="price-box">
													<span class="price-tit">대출금액</span>
													<span class="price-txt">1,000,000,000</span>
													<span class="unit">원</span>
												</div>
											</label>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="card-list-wrap">
							<div class="card-list-header">
								<span class="check-box">
									<input type="checkbox" name="checkbox-3" id="checkbox-3-1">
									<label for="checkbox-3-1">예금/적금/신탁</label>
								</span>
								<span class="card-list-num">1</span>
							</div>
							<div class="card-list-container">
								<ul class="check-list">
									<li>
										<span class="check-box type-sm">
											<input type="checkbox" name="checkbox-4" id="checkbox-4-1">
											<label for="checkbox-4-1">
												<p class="tit">KB기업종합보통예금1(계좌별명)</p>
												<p class="txt">100-2534-123579</p>
												<div class="price-box">
													<span class="price-tit">잔액</span>
													<span class="price-txt">1,000,000,000</span>
													<span class="unit">원</span>
												</div>
											</label>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- // card list -->
		</div>
		<!-- // content-body -->
	</div>
	<!-- // wrap -->
</body>
</html>