<div class="modal-wrap CMYCTE028" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>손쉬운 차계부 관리 Tip!</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="result-box">
                <i class="icon icon-car"></i>
                <p class="tit">
                    자동으로 차량 유지비 내역을 찾아주고 <br>
                    보여주는 서비스를 원하신다면,
                </p>
                <p class="txt">
                    데이터 연동 관리에서 개인(신용)정보 수집·이용  <br>
                    동의서에서의 가맹점명 정보 수집에 동의해주세요.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의하기</span></button>
            </div>
        </div>
    </div>
</div>