<div class="modal-wrap CMYCTE029" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>차테크 서비스 이용하기</h3><!-- 2021-10-13 타이틀 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="body-120">
                본 서비스는 회원님의 마이데이터 정보와 결합된 맞춤형 특화 서비스입니다.<br />
                회원님의 첫 사용을 환영합니다.
            </div>
            <div class="agree-box">
                <div class="agree-top">
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>
                    </label>
                    <a href="javascript:;" class="txt-link">마이데이터 부수/겸영 서비스 이용을 위한 개인(신용)정보 수집·이용 동의</a>
                    <span onclick="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                </div>
            </div>
            <div class="body-120">
                미 동의시 본 서비스를 이용하실 수 없으며, [내자산]화면으로 이동합니다.
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>시작하기</span></button>
            </div>
        </div>
    </div>
</div>