<div class="modal-wrap CMYMPH103" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>내한도알기 약관동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-09-14 동의 리스트 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경 -->
            <ul class="agree-list-wrap">
                <li>
                    <div class="agree-top">
                        <label class="form-checkbox all-check">
                            <input type="checkbox">
                            <i class="icon"></i>                        
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 인터넷 서비스 이용약관</a>
                        <span class="agree-link icon16 icon-arrow-right-black">약관보기</span>
                    </div>
                </li>
                <li>
                    <div class="agree-top">
                        <label class="form-checkbox all-check">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <span class="txt-link">[필수] 개인(신용)정보 동의서</span>
                    </div>
                    
                    <div class="accordion-wrap">
                        <div class="accordion-header">
                            <span class="icon-arrow-bottom-black">
                                <i class="icon16">아코디언 열기</i>
                            </span>
                        </div>

                        <div class="accordion-container">
                            <ul class="agree-list">
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link">1. 개인(신용)정보 필수 수집ㆍ이용 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link depth">고유식별정보 필수 수집ㆍ이용 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link">2. 개인(신용)정보 필수 조회 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link depth">고유식별정보 필수 조회 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link">3-1. 개인(신용)정보필수제공동의-신용정보집중기관등</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link depth">고유식별정보 필수 제공 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link">3-2. 개인(신용)정보필수제공동의-여신금융협회등</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link depth">고유식별정보 필수 제공 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link">3-3. 개인(신용)정보필수제공동의-제휴업체등</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>                                        
                                    </label>
                                    <a href="javascript:;" class="txt-link depth">고유식별정보 필수 제공 동의</a>
                                    <span href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agree-top">
                        <label class="form-checkbox all-check">
                            <input type="checkbox">
                            <i class="icon"></i>                            
                        </label>
                        <a href="javascript:;" class="txt-link">[필수] 전자금융 거래약관</a>
                        <span class="agree-link icon16 icon-arrow-right-black">약관보기</span>
                    </div>
                </li>
            </ul>
            <!-- // 2021-09-14 동의 리스트 체크아이콘과 텍스트링크 분리타입 : 기존 마크업 변경 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>