<div class="modal-wrap CMYMPH115" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>마이데이터 추가 연동</h3> <!-- 2021-09-09 문구수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="body-120"> <!-- 2021-12-06 문구수정 -->
                보유하고 있는 은행 수신계좌를 연동하면 보다 더 정확한 한도를 받을 수 있어요.<br />
                고객님의 마이데이터 정보를 연동하시겠습니까?
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>연동하기</span></button> <!-- 2021-09-09 문구수정 -->
            </div>
        </div>
    </div>
</div>