<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매 &gt; 차이지 내한도알기 결과</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>
</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-all-gray">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>내한도알기</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH117">				
					<div class="round-box-yellow-line">						
						<div class="top-tit-area">
							<div class="img-logo"><img src="/images/logo/img-logo-chachacha.svg" alt="" /></div>
							<strong class="tit-big">내한도알기</strong>
							<em class="tit-em">
								Pre-approved check
							</em>
							<span class="tit-txt"><!-- 2021-10-14 문구수정 -->
								차종과 상관없이 중고차 구매에<br />
								이용할 수 있는 최소한도입니다.
							</span>
						</div>
						<div class="data-list">
							<ul>
								<li>
									<span class="tit">이름</span>
									<span class="txt">차국민</span>
								</li>
								<li>
									<span class="tit">총 한도</span>
									<span class="txt bold">2,500만원</span>
								</li>
								<li>
									<span class="tit">이율</span>
									<span class="txt">2.7% (중고차 기준)</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="info-txt">
                        <i class="icon16 icon-info"></i>
                        당사에서 고객님의 신용정보를 바탕으로 제공하는 컨설팅이므로, 상담 진행 시 한도 및 이율은 변경될 수 있으니 참고 자료로 활용하시기 바랍니다.
                    </div>

					<!-- 2021-12-01 [중고차대출 필수 안내사항] 추가 -->
					<div class="accordion-wrap type-bottom">
						<div class="accordion-header">
							<div class="acco-left">
								<i class="icon16 icon-info-black"></i>
								<strong>중고차대출 필수 안내사항</strong>
							</div>
							<div class="acco-right">
								<i class="icon16 icon-arrow-bottom-black"></i>
							</div>
						</div>						
						<div class="accordion-container">
							<p class="body-210">
								대출금리 : 최저 연 3.4% ~ 최고 연 13.9%<br />
								대출기간 : 최소 12개월 ~ 최대 60개월<br />
								상환방법 : 원리금균등분할상환<br />
								중도상환수수료 : 2.0% (단일률 적용)<br />
								취급수수료 : 없음<br />
								지연배상금율 : 대출금리+3% (법정 최고 금리 이내)<br /><br />

								대출실행 시, KB캐피탈 1순위 차량근저당설정이 필수이며, 저당 설정비용은 당사에서 부담합니다.(해지비용은 고객부담)<br />
								상환능력에 비해 대출금이 과도할 경우 귀하의 개인신용평점이 하락할 수 있습니다.<br />
								개인신용평점 하락시 금융거래와 관련된 불이익이 발생할 수 있습니다.<br />
								일정기간 원리금(또는 대출금, 납부대금 등)을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.<br />
								대출취급이 부적정한 경우(연체금 보유, 신용점수 등 낮음) 대출이 제한될 수 있습니다.<br />
								금융소비자는 금소법 제19조 제1항에 따라 상품 또는 서비스에 대하여 설명을 받을 권리가 있습니다.<br />
								고객의 신용점수 등에 따라 금리가 차등 적용됩니다.<br />
								이자 납입일(매월)에 이자를 납입하여야 합니다.<br />
								담보물건, 담보종류 등에 따라 대출조건이 차등적용되며 담보물이 부적합할 경우 대출이 제한될 수 있습니다.<br />
								대출 계약체결 전, 대출관련 상세사항은 상품설명서와 약관을 참조 바랍니다.<br />
								고객에게 별도의 수수료를 요구하거나 수취할 수 없습니다.<br />
								<!-- 2021-12-02 텍스트 추가 -->
								정보제공부서 : 온라인영업부<br />
								<!-- // 2021-12-02 텍스트 추가 -->
								심의번호 : 여신금융협회 심의필 제 2021 - 000 - 00000호<br />
								유효기간 : 2021.00.00~2022.00.00<br /><br />

								[중도상환수수료 산식]<br />
								만기 1년 이상 : [중도상환원금X1%(부대비용)+중도상환원금X(중도상환수수료-1%)X잔존기간/대출기간-30일)]<br />
								만기1년 미만 : [중도상환원금X(중도상환수수료율)X잔존기간/(대출기간-30일)]<br />
								30일 미만 상환시 대출사용기간을 30일로 간주, 중도상환수수료는 실제 대출사용기간에 따라 차등적용<br />
								대출상품은 대출계약성립일부터 3년이 경과하여 중도상환시 중도상환수수료가 부과되지 않습니다.
							</p>
						</div>
					</div>
					<!-- // 2021-12-01 [중고차대출 필수 안내사항] 추가 -->

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-gray"><span>확인</span></button>
						<button type="button" class="btn-yellow"><span>상담신청</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->

	<!-- 2021-12-01 중고차대출 필수 안내사항 클릭시 안내문 위치로 포커스 이동 스크립트 추가 -->
	<script>
		$(document).ready(function(){
			(function($){
				var moveY;
				var headerHeight = $('.content-header').innerHeight() + 10;
				$('.accordion-wrap').click(function(){
					moveY = $(this).offset().top - headerHeight;
					if($(this).hasClass('toggle-active')) {
						$('html, body').animate({
							scrollTop:moveY
						},'fast');
					}
				});
			})(jQuery);
		});
	</script>
	<!-- // 2021-12-01 중고차대출 필수 안내사항 클릭시 안내문 위치로 포커스 이동 스크립트 추가 -->
</body>
</html>