<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매 &gt; 차이지 내한도알기 결과 (정보 불일치)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>
</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-all-gray">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>내한도알기</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH119">				
					<div class="round-box-yellow-line">						
						<div class="top-tit-area">
							<div class="img-logo"><img src="/images/logo/img-logo-chachacha.svg" alt="" /></div>
							<strong class="tit-big">내한도알기</strong>
							<em class="tit-em">
								Pre-approved check
							</em>
						</div>
						<div class="bottom-alert-txt">
							<div class="top-icon-area"><i class="icon48 icon-error">데이터없음</i></div>							
							<span class="txt">
								입력하신 고객정보와<br />
								KB차차차 회원정보가 불일치합니다.<br />
								다시 확인해주세요.
							</span>
						</div>
					</div>
					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>확인</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>